body{
background-color:#EED2EE;
}

table,td{
width: 300px;
height:150px;
border-collapse: collapse;
text-align:center;
}

table{
margin-left:40px;
margin-right:40px;
margin-bottom:40px;
}


#operation{
margin:50px;
font-size:36px;
}

#equals{
margin:50px;

}


.padding{
padding-left:45px;
padding-right:45px;
border: 1px solid black;
}


button{
margin-top: 20px;
margin-bottom: 20px;
}

iframe.hidden
{
display:none
}